<div class="date-card">
  <div class="date-header">
    <h3>Fecha  {{ date.idDate }}</h3>
    
  </div>

  <div class="date-content">
    <div class="date-info">
      <div class="info-item">
        <span class="icon">📅</span>
        <span class="text">{{ getFormattedDate() }}</span>
      </div>
      <div class="info-item">
        <span class="icon">🕒</span>
        <span class="text">{{ getFormattedTime() }}</span>
      </div>
      <div class="date-status">
        {{ getPlayersCount() }} jugadores confirmados
      </div>
    </div>

    <div class="date-actions">
      <button class="action-button view" [routerLink]="['/dates', date.idDate]">
        Ver Detalles
      </button>
    </div>
  </div>
</div>
